html {
    background-color: rgb(173, 49, 33);
  }

.text {
    color: gold;
    font-family: Georgia, 'ca', Times, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15 px;
}

.header text {
    color: black;
    font-style: normal;

}

.icon{
    width: 22px;
    height: 15px;
}

.photo{
    width: auto;
    height: 300px;
}